@import url(/css/reset.css);
@import url(/css/media.css);
@import url(/css/components.css);

body,html{
    /* font-size: 62.5%; */
    font-family: 'PingFang-SC';
    color:rgb(51,51,51);
    background-color: rgb(238,238,238);
    letter-spacing: 1px;
}
input:focus{
    outline: none;
}

/* 栅格 */
.row{
    display: flex;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    display: inline-block;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/* 字号 */
.fs-36{
    font-size: 0.96rem;
}
.fs-32{
    font-size: 0.853rem;
}
.fs-30{
    font-size: 0.8rem;
}
.fs-28{
    font-size: 0.746rem;
}
.fs-26{
    font-size: 0.693rem;
}
.fs-24{
    font-size: 0.64rem;
}
.fs-22{
    font-size: 0.586rem;
}
.fs-20{
    font-size: 0.533rem;
}

/* 颜色 */
.c-51{
    color:rgb(51,51,51)
}
.c-68{
    color:rgb(68,68,68)
}
.c-102{
    color:rgb(102,102,102)
}
.c-167{
    color:rgb(167,167,167)
}
.c-238{
    color:rgb(238,238,238)
}
.c-red{
    color:rgb(196,0,0);
}
.c-white{
    color:rgb(255, 255, 255);
}

.bgc-102{
    background-color:rgb(102,102,102);
}

.bgc-white{
    background-color:rgb(255, 255, 255);
}

/* 字重 */
.fw-bold{
    font-weight: bold
}
.fw-normal{
    font-weight: normal
}
.fw-lighter{
    font-weight: lighter
}

/* 对齐 */
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

/* 间距 */
.mb-1{
    margin-bottom: 1px;
}
.mb-10{
    margin-bottom: 0.266rem;
}
.mb-12{
    margin-bottom: 0.32rem;
}
.mb-16{
    margin-bottom: 0.426rem;
}
.mb-20{
    margin-bottom: 0.533rem;
}
.mb-24{
    margin-bottom: 0.64rem;
}
.mb-40{
    margin-bottom: 1.066rem;
}
.mb-60{
    margin-bottom: 1.6rem;
}

.pa-20{
    padding: 0.533rem;
    box-sizing: border-box;
}
.ptb-40{
    padding: 1.066rem 0;
}
.ptb-20{
    padding: 0.533rem 0;
}

.pltr{
    padding: 1.066rem 0.533rem 0 0.533rem;
}

.plr-20{
    padding: 0 0.533rem;
}

.pl-20{
    padding-left: 0.533rem;
}
.pl-40{
    padding-left: 1.066rem;
}
.pl-60{
    padding-left: 1.6rem;
}

.pb-60{
    padding-bottom: 1.6rem;
}

.pb-0{
    padding-bottom: 0;
}

/* 边框线 */
.bd-1{
    border-bottom: 1px solid rgb(238,238,238)
}
.bt-1{
    border-top: 1px solid rgb(238,238,238)
}

/* 功能 */
.slow{
    transition: all .2s ease;
}
.pos-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.pull-right{
    float: right;
}

.block{
    display: block;
    max-width: 100%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.between{
    justify-content: space-between
}
.throwLine{
    text-decoration: line-through;
}
