
/* 组件 */
.page-block{
    background-color: #fff;
}
.product-item{
    display: flex;
}
/* .product-item:not(:last-of-type){
    border-bottom: 1px solid rgb(238,238,238)
} */
.product-item.column{
    display: flex;
    flex-direction: column;
}
.product-item .thumbs{
    display: inline-block;
    width: 30%;
    flex-shrink: 0;
    flex-grow:0;
    margin-right: 0.533rem;
}
.product-item div{
    vertical-align: top;
}
.product-item .desc{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    line-height: 1rem;
    letter-spacing: 1px;
    flex-grow: 2;
}
.desc-title{
    line-height: 1rem;
    max-height: 2rem;
    overflow: hidden;
}
.desc-content{
    line-height: 0.75rem;
    max-height: 1.5rem;
    overflow: hidden;
}
.img-cover,.card{
    width: 100%;
    padding-bottom: 100%;
    background-size: 100% auto;
    background-color: #ccc;
    border-radius: 0.133rem;
}

.card{
    position: relative;
    padding-bottom:75%;
    background-color: #fff;
    border:1px solid #ccc;
}
.card-content{
    display: flex;
    justify-content: space-between;
    width:70%;
    /* line-height: 18px; */
}



.video-container{
    height:35vh
}
.content-container{
    height: 58.5vh;
    overflow-y: auto;
}
.button-container{
    height: 2.613rem;
    line-height: 2.613rem;
}

.detail-title p{
    width:85%;
    line-height: 1rem;
    height: 2rem;
}
.detail-title .badge{
    display: inline-block;
    width:1.28rem;
    height:1.28rem;
    line-height: 1.28rem;
    margin-top:0.5rem;
    font-size:0.5rem;
    text-align: center;
    background-color:rgb(83, 83, 83);
}
.detail-price{
    display: inline-block;
    margin-right: 1.066rem;
}

/* Tab切换 */
.YJ-Tabs .tabs-head{
    display: flex;
    justify-content: space-around;
    padding-bottom:0.5rem;
    text-align: center;
    border-bottom:1px solid rgb(238,238,238);
}
.YJ-Tabs .tabs-head span{
    display: inline-block;
    position: relative;
}
.YJ-Tabs .tabs-head span.active{
    font-weight: bold;
}
.YJ-Tabs .tabs-head span.active:before{
    content:'';
    display: inline-block;
    width: 0.266rem;
    height: 0.266rem;
    position: absolute;
    bottom:-0.68rem;
    left:50%;
    margin-left: -0.133rem;
    transform: rotateZ(-45deg);
    border:1px solid rgb(238,238,238);
    border-left-width: 0;
    border-bottom-width: 0;
    background-color:#fff;
}
.YJ-Tabs .tabs-head span:not(:last-of-type){
    border-right:1px solid rgb(238,238,238)
}

.YJ-Tabs .tabs-content{
    
}

/* 折叠面板 */
.YJ-Collapse .YJ-collapse-item{
    margin-bottom: 1.066rem;
}
.collapse-content{
    max-height: 0;
    overflow: hidden;
}
.YJ-collapse-title.open +.collapse-content{
    max-height: 10rem;
    overflow-y: auto;
}

/* 评论列表 */
.box-26{
    display: inline-block;
    width:0.693rem;
    height:0.693rem;
    margin-right: 0.3rem;
    background-color: rgb(75, 74, 74);
    background-size: 100% 100%;
}
.box-30{
    display: inline-block;
    width:1.6rem;
    height: 1.6rem;
    margin-right: 0.533rem;
    background-color: rgb(75, 74, 74);
}
.box-40{
    display: inline-block;
    width:1.066rem;
    height: 1.066rem;
    margin-right: 0.2rem;
    vertical-align: bottom;
    background-color: rgb(75, 74, 74);
}
.comment-avatar{
    display: inline-block;
    width:1.6rem;
    height:1.6rem;
    border-radius: 50%;
    background-color: rgb(75, 74, 74);
    background-size: 100% 100%;
}
.comment-username .box-26{
    float:right;
}

/* 底部 */
.call-button,.comment-texter{
    line-height: 2.613rem;
    vertical-align: middle
}
.buy-button{
    width:8rem;
}

.comment-texter{
    line-height:2.613rem;
}
.comment-texter{
    display: block;
    width:12.266rem;
    height:1.386rem;
    padding:0 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.533rem;
    line-height:1.386rem;
    border:1px solid rgb(167,167,167);
    border-radius: 1.386rem;
    color:rgb(167,167,167);
    letter-spacing: 1px;
}
.btns-group{
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}
.fire-btn{
    display: none;
    width:2.5rem;
    text-align: center;
    letter-spacing: 1px;
}

.comment-texter:focus{
    width: 100%;
}
.comment-texter:focus ~.btns-group{
    display: none;
}
.comment-texter:focus ~.fire-btn{
    display: inline-block;
}



.split-line,.split-block{
    height: 1px;
    background-color: rgb(238,238,238);
}
.split-block{
    height: 0.266rem;
}

.foot-btn{
    padding: 0;
    border:none;
    background-color: transparent;
    word-wrap: wrap none;
    overflow: hidden;
}
.foot-btn:focus{
    outline:none;
}

.addChildSplit div:not(:last-of-type){
    border-bottom: 1px solid rgb(238,238,238)
}